* {
    margin:0;
    padding:0;
}

body {
    display: flex;
    flex-direction: column;
    background: wheat;  
}

/* Alles over de header container */

.containerHeader{
    display: flex;
    background: olive;
    flex-grow: 4;
    
}

.headerItem {
    flex-grow: 1;
    align-self: center;
    justify-self: center;
    text-align: center;
    
}


/* Alles over de Contentcontainer */
.containercontent{
    display: flex;
    flex-direction: row;
    background: cadetblue;
    flex-grow: 3;
}

.itemContainerContent {
    flex-grow: 1;
    width: 1fr;
}

/* dit is een container */
.heroBox {
    display: flex;
    flex-direction: column; 
    text-align: center;
    width: 1fr;
}

.itemHeroBox{
    background: green;
    flex-grow: 1;
    width: 1fr;
}

.containerFooter{
    background: red;
    flex-grow: 1;
      
}

img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;

}


/* Alles over de footer container */

h1 {
    white-space: nowrap;
    overflow: hidden;
}


.element {
    animation-name: bounce;
    animation-duration: 3s;
  }
  
 
  
  @keyframes bounce {
    from {
        border-radius: 25%;
    }
  
    to {
        
        border-radius: 50%;
    }
  }