* {
    margin:0;
    padding:0;
}

body {
    display: flex;
    flex-direction: column;
    background: whitesmoke; 
}

/* Alles over de header container */

.containerHeader{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: olive;
    flex-grow: 3;
    justify-content: center;
    
}

.headerItem {
    flex-grow: 1;
    align-self: center;
    justify-self: center;
    text-align: center;
    
}


/* Alles over de Contentcontainer */
.containercontent{
    display: flex;
    flex-direction: right;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    
}

.itemHeroBox{
    flex-basis: 300px;
    margin-top: 20px;


}
.whoWin{
    text-align: center;
    background: whitesmoke;
    vertical-align: center;

}

img {
    max-height: 500px;
    max-width: 100%;
    border-radius: 50%;

}

.button {
    
    background-color: transparent;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: solid;
    cursor: crosshair;
    border-radius: 5px;
    margin: 10px;
  }
  
.button:hover {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: solid;
    cursor: crosshair;
    border-radius: 5px;
  } 




/* Alles over de footer container */
.containerFooter{
    background: red;
    flex-grow: 1;
      
}



/* Overige */

h1 {
    white-space: nowrap;
    overflow: hidden;
    margin: 5px;
}

